[submodule "W11-powershell"]
        path = W11-powershell
        url = https://github.com/MaxCarlson/W11-powershell.git
[submodule "pscripts"]
        path = pscripts
        url = https://github.com/MaxCarlson/pscripts.git
