/* File: knowledge_manager/tui/km_tui.css */
Screen { background: $panel; layout: vertical; }
Header { dock: top; height: 1; background: $primary-background; color: $text; text-style: bold; padding: 0 1; }
Footer { dock: bottom; height: 1; background: $primary-background; color: $text; padding: 0 1; }
#projects_view_container, #tasks_view_container { width: 100%; height: 1fr; padding: 1; layout: vertical; }
.view_header { width: 100%; padding: 0 0 1 0; text-style: bold underline; color: $text-accent; text-align: center; }
#project_list_scroll, #task_list_scroll { width: 100%; height: 1fr; border: round $primary-lighten-2; background: $surface; margin-bottom: 1; }
#project_detail_scroll, #task_detail_scroll { width: 100%; height: 1fr; border: round $primary-lighten-1; background: $surface-darken-1; padding: 1; }
#project_detail_markdown, #task_detail_markdown { width: 100%; height: 100%; }
ListItem { padding: 0 1; height: auto; }
ListItem:hover { background: $primary-darken-1; }
ListItem.--highlight { background: $accent; color: $text; }
ListItem.--highlight > Label { color: $text; }
ListView > ListItem > Label.message-label { width: 100%; content-align: center middle; color: $text-muted; }
ListView > ListItem > Label { color: $text; }
ListView > ListItem.--highlight > Label { color: $text; }
InputDialog { align: center middle; }
InputDialog > Vertical { width: 80%; max-width: 60; height: auto; border: thick $primary-background-darken-2; background: $surface; padding: 1 2;}
InputDialog Input { margin-bottom: 1; border: tall $primary;}
InputDialog .buttons { width: 100%; align-horizontal: right; padding-top: 1;}
InputDialog Button { margin-left: 1;}
